/*styling for background image as well as font across page*/
body {
    background-color: #1c4966;
    color: rgb(186, 190, 206);
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
/*section is opaque to add aesthetic*/
#page-content {

    margin: 0;
}

/*styling that organizes the header and its contents*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5vw solid rgba(95, 96, 121, 0.5);
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}
#title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*styling for the title and subtitles*/
#main-title{
    margin-right: 0.4vw;
    margin-top: 2vh;
    font-size: 10vw;
}
#subtitle0 {
    margin-left: 0.4vw;
    margin-top: 0;
    font-size: 5vw;
}
#main-title, #subtitle0 {
    margin-bottom: 0;
}
#subtitle1 {
    margin-top: 0;
    margin-bottom: 2.5vw;
    font-size: 3.25vw;
}

/*button styling*/
#button-container {
    display: flex;
    justify-content: center;
    width: 95vw;
    border-bottom: 0.5vw solid rgba(95, 96, 121, 0.5);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
}
.timer-selection {
    background-color: rgba(95, 96, 121, 0.5);
    margin-left: 5px;
    margin-right: 5px;
    height: 7vw;
    width: 28vw;
    border-radius: 12px;
    color:rgb(186, 190, 206);
    border-color: rgba(61, 67, 86, 0.482);
    font-size: 4vw;
    padding: 0;
}

/*styling for timers*/
.timer {
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    border: 1vw solid rgb(186, 190, 206);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
}
.time {
    font-size: 20vw;
    margin-top: 0;
    margin-bottom: 0;
}
#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.timer-controls {
    background-color: rgb(186, 190, 206);
    color: #1c4966;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
}

/*google icon styling*/
/*note: these are default settings*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24;
    font-size: 32px !important;
}
#replay {
    font-size: 24px !important;
    font-variation-settings: 
    'wght' 800;
}
#control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

/*style info at bottom of page*/
#discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
#subheading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#subheading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 7vw;
}
#tomato {
    font-size: 7vw !important;
    font-variation-settings: 
    'wght' 600;
}
#info {
    font-size: 4.5vw;
    text-align: justify;
    width: 95vw;
}