/*styling for background image as well as font across page*/
body {
    background: url(../images/dark-blue-watercolor.png);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: center;
    color: rgb(186, 190, 206);
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
/*section is opaque to add aesthetic*/
#page-content {
    background-color: rgba(0,0,0,0.3);
}

/*styling that organizes the header and its contents*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5vw solid rgba(61, 67, 86, 0.482);
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}
#title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*styling for the title and subtitles*/
#main-title{
    margin-right: 0.4vw;
    font-size: 10vw;
}
#subtitle0 {
    margin-left: 0.4vw;
    font-size: 5vw;
}
#main-title, #subtitle0 {
    margin-bottom: 0;
}
#subtitle1 {
    margin-top: 0;
    margin-bottom: 2.5vw;
    font-size: 3.25vw;
}

/*button styling*/
#button-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.timer-selection {
    background-color: rgba(95, 96, 121, 0.5);
    margin-left: 5px;
    margin-right: 5px;
    height: 7vw;
    width: 15vw;
    border-radius: 12px;
    color:rgb(186, 190, 206);
    border-color: rgba(61, 67, 86, 0.482);
    font-size: 2vh;
}

/*google icon styling*/
/*note: these are default settings*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*styling for timers*/
.timer {
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    border: 1vw solid rgb(186, 190, 206);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.time {
    font-size: 20vw;
}